.searchbar {
    width: 30%;
    text-align: center;
    height: 20px;
}

.posts {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 5px 10px;
}

.post {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 300px;
    margin: 10px;
    background-color: rgb(36, 153, 168);
    border-radius: 8px;
}

.title { 
    width: 250px;
    background-color: white;
    color: black;
    padding: 5px;
    border-radius: 8px;
}

.description {
    width: 250px;
    background-color: black;
    color: white;
    padding: 5px;
    border-radius: 8px;
    font-size: 14px;
}

.location {
    width: 250px;
    background-color: black;
    color: white;
    padding: 5px;
    border-radius: 8px;
}

.price {
    width: 250px;
    background-color: black;
    color: white;
    padding: 5px;
    border-radius: 8px;
}

.delivery {
    width: 250px;
    background-color: black;
    color: white;
    padding: 5px;
    border-radius: 8px;
}

.deleteButton {
    width: 100px;
    font-weight: bold;
    border-radius: 5px;
    box-shadow: 5px 3px 5px black;
}

.messageButton {
    width: 100px;
    font-weight: bold;
    border-radius: 5px;
    box-shadow: 5px 3px 5px black;
}
